<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body, form {
        background-color: aquamarine;
        display: flex;
        font-family: fantasy;
        flex-direction: column;
        text-align: center;

      }
      a {

      }
    </style>
  </head>
  <body>
    <body>
      <h1>Hello INDEX</h1>
        <ul>
          <% for(let i = 0; i < runs.length; i++) { %>
          <li>
            On run: <a href="/runs/<%=runs[i].id; %>">

              <%=i; %>  You ran <%=runs[i].distance; %> miles!
              <form action="/runs/<%=runs[i].id%>?_method=DELETE" method="POST">
                 <input type="submit" name="" value="DELETE">
              </form>
              <a href="/runs/<%=runs[i].id%>/edit">Edit Run
             <% } %>

           </li>

        </ul>
        <nav>
          <a href="/runs/new"> Log a new run! </a>
      <h3>test man test</h3>
    </body>
  </body>
</html>
