<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">
    html, body{
height: 100%;
}
a {
    background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 12px;
}

a:hover {
  background-color: ;
}

a:active {
  box-shadow: none;
  top: 5px;
}
body {
    background-image: url(https://i.imgur.com/gfTQIzd.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}

div, body, a{
margin: 0;
padding: 0;
font-family: exo, sans-serif;
color: white

}
.wrapper {
height: 100%;
width: 100%;
}



ul, li, h1 {
  text-align: center;
  list-style-type: none;
  font-family: fantasy;

}
/* .opaque {//IMAGE NOT OPAQUe :( */

       /*setting alpha = 0.6*/
        /* background: rgba(0, 151, 19, 0.6); */

}
h2 {
  text-align: center;
}
    </style>
  </head>
  <body>
    <body>
      <!-- <div class="image">
      <img src="https://i.imgur.com/e5q7T7z.jpg" alt="" />

      <h2><span>Welcome!!<span class='spacer'></span><br /><span class='spacer'></span></span>Log your Daily Run</h2> -->
      <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
<div class="wrapper" class="opaque">

</div>
<h2>Calculate Goal Pace</h2>
      <h1>Current Running Progress</h1>
        <ul>
          <% for(let i = 0; i < runs.length; i++) { %>
          <li>
            On run: <a href="/runs/<%=runs[i].id; %>">

              <%=i; %>  You ran <%=runs[i].distance; %> miles!
              <form action="/runs/<%=runs[i].id%>?_method=DELETE" method="POST">
                 <input type="submit" name="" value="DELETE">
              </form>
              <a href="/runs/<%=runs[i].id%>/edit">Edit Run
             <% } %>

           </li>

        </ul>
        <nav>
          <a href="/runs/new"> Log a new run! </a>
          <h3>Live Life a step at a time</h3>
          <h5>*User logins coming soon!</h5>

    </body>


  </body>
</html>
